/* body{
  background-color: aqua;
} */

.section1{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: auto;
    grid-row-gap: 100px;
   background-color: aqua;
    grid-column-gap: 50px;
    
    
}
.box1{
  background-color: rgb(255, 255, 255);
}
.box2{
  background-color: rgb(255, 255, 255);
  
}
.box3{
  background-color: rgb(255, 255, 255);
}
.box4{
  background-color: rgb(255, 255, 255);
}
.box5{
  background-color: rgb(255, 255, 255);
}
.box6{
  background-color: rgb(255, 255, 255);
}

.gaming{
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns:  ;
    grid-template-rows: auto auto;
    justify-content: space-around;
    
  }
/* .item1{
    width: 100px;
    height: 100px;
   
} */
.small{width: 100px;
height: 100px;}


/*================ 1st box ================ */

.items{
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    /* row-gap: 20px; */
   /* justify-content: center; */
   justify-content: space-around;
  }